<h1 class="mat-display-1">Home Route</h1>

<div>
  <mat-card class="card">
    <mat-card-header>
      Welcome!
    </mat-card-header>
    <br>
    <mat-card-content>
      This is my site. I hope you like it. You can post blogs, and people can comment on them! I hope you like it, it took about
      a week to make.
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      About!
    </mat-card-header>
    <br>
    <mat-card-content>
      My name is Marko Ilic and this is my project! It demonstrates RESTful Angular with Node on the backend.
    </mat-card-content>
  </mat-card>
</div>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque modi distinctio harum iste eaque sequi tenetur obcaecati
  vitae voluptatum blanditiis? Iusto assumenda in numquam nulla ipsum possimus error voluptatibus pariatur? Molestiae voluptates
  eum eos aspernatur recusandae, fuga modi suscipit magni laborum. At totam, assumenda consectetur praesentium fuga iste
  autem quod eius mollitia enim architecto sed veritatis nesciunt, cupiditate non ut! Perspiciatis vel quia beatae voluptas
  accusamus officiis sint at fugiat mollitia odit. Debitis sed nihil alias sit, vitae earum aliquam suscipit. Id sed quos
  eligendi quaerat, error est expedita deserunt. Commodi esse facere debitis, quis eos possimus eveniet odit molestias voluptatibus
  suscipit, laudantium illo a dicta beatae quaerat officiis vitae sunt, aut eaque quam molestiae. Omnis vel velit itaque
  expedita. Ratione dolorem unde cumque, deleniti iure suscipit iste! Voluptatem, tempora. Delectus ipsam, ut doloribus quisquam
  exercitationem alias quia impedit, voluptatem magni asperiores dolores soluta nobis voluptas porro vel, vitae laudantium.
  Porro id quis asperiores perferendis beatae? Ipsum, libero accusantium laborum aut, natus officiis nihil excepturi optio
  sapiente esse, mollitia molestiae sint nostrum enim aperiam. Excepturi itaque dolor maiores a aperiam? Nemo debitis quibusdam
  obcaecati atque fugit quasi laboriosam. Quis culpa odit aliquid tenetur, sunt, nobis perspiciatis ad veniam nostrum consectetur
  iste fugiat, sequi nihil architecto ex debitis alias vitae soluta? Minus excepturi eius totam praesentium sit. Eum id earum
  optio quasi iusto harum temporibus dolorem quas nemo quaerat reprehenderit ad inventore incidunt qui sint nobis accusantium
  dolorum facilis, fuga quo. Corporis dolorum aut, optio vero quis eum, ad quas nam placeat necessitatibus itaque modi nobis
  esse ea libero enim expedita. Veritatis officia accusamus autem amet repellat dolorum enim molestiae libero! Doloremque
  atque voluptate labore animi quidem aperiam est quae quia, numquam laborum mollitia sapiente corrupti earum odit temporibus
  unde ea! Pariatur nostrum doloribus sed assumenda reiciendis rerum ad fugit magni. Voluptas placeat ex itaque, quae, tempora
  qui omnis impedit rerum suscipit dicta architecto eius illum nam culpa minus. Incidunt consequatur sunt accusantium et
  totam eos cum deleniti officiis impedit nulla. Nobis officia voluptatem impedit porro quam molestias iure id natus quos
  nulla fuga modi, rem distinctio, quas voluptas cupiditate libero itaque ab cumque asperiores, qui facere. Fuga dolore nam
  praesentium. Aut, amet debitis sed cupiditate reiciendis repudiandae libero reprehenderit harum, voluptates pariatur minus
  mollitia impedit nobis laborum iste quae incidunt ducimus tenetur dolore ad, porro quos consectetur totam! Fuga, quo. Quidem
  laboriosam culpa consequatur mollitia cupiditate vel obcaecati nam nostrum impedit id aut quam totam sequi corporis, ex
  non soluta! Impedit ad corporis esse quasi nulla. Ut deleniti laboriosam rem. Reprehenderit iure omnis officia vitae quaerat.
  Aliquam vitae nam perspiciatis eius eveniet harum fugit similique ad, impedit doloremque enim tenetur porro molestias sequi
  molestiae eum excepturi consectetur sapiente illum dicta. Aperiam sit eos mollitia vero explicabo molestiae perspiciatis.
  Eveniet vero commodi numquam. Eius quis animi distinctio, officia earum mollitia aspernatur illo minus quaerat! Distinctio,
  ipsum. Quia laborum harum soluta nisi! Eaque, tempore! At quos tenetur neque ipsum magnam fugit odit fuga delectus a ex,
  magni atque eius quod eligendi itaque laudantium quasi eveniet ad consequuntur quaerat tempora soluta ullam. Accusamus.
  Aliquam delectus, corporis fugit earum nihil sint quae repudiandae laborum? Sed aliquid ullam deserunt consectetur esse
  ab, voluptas voluptates nulla laboriosam. Quod molestias perspiciatis eaque cum vero autem tempora esse. Doloribus ipsum
  et consequatur, unde, aliquam nobis esse qui consequuntur non natus itaque modi, quis odio suscipit expedita minima similique
  assumenda vero tempore in nihil provident sit. Aliquam, eaque reiciendis? Nihil voluptates unde tenetur, delectus consequatur
  error sequi ab saepe rem totam iste inventore non, qui, dignissimos explicabo esse. Obcaecati molestiae amet id accusamus
  tenetur aperiam dolores praesentium rem inventore.
</p>
